$myPreds: #0091ea;
$myLeagues: #29b6f6;
$myBuds: #00e5ff;
$myRanks: #81d4fa;
$myProfile: #00bcd4;

$primary: #009688;
$secondary: #4caf50;

$prefs: #8bc34a;
$games: #26a69a;
$leagues: #fdd835;
$allPlayers: #ffb300;
$allPreds: #fb8c00;